/* src/style.css */
#root {
  display: flex;
  gap: 30px;
}
.canvas-cont {
  position: relative;
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.row {
  display: flex;
  align-items: center;
  gap: 15px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col {
  display: flex;
  flex-direction: column;
}
